<a href="https://colab.research.google.com/github/rtphokie/AstronomyDaysISS/blob/main/ISS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install skyfield
from skyfield.api import load, wgs84
import pytz
import pylab as pl
import matplotlib.pyplot as plt
ts = load.timescale()
horizon=10

Requirement already satisfied: skyfield in /usr/local/lib/python3.10/dist-packages (1.48)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from skyfield) (2024.2.2)
Requirement already satisfied: jplephem>=2.13 in /usr/local/lib/python3.10/dist-packages (from skyfield) (2.22)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from skyfield) (1.25.2)
Requirement already satisfied: sgp4>=2.2 in /usr/local/lib/python3.10/dist-packages (from skyfield) (2.23)

[space station orbital elements (NORAD)](http://celestrak.com/NORAD/elements/stations.txt)

In [ ]:
stations_url = 'http://celestrak.com/NORAD/elements/stations.txt'
satellites = load.tle_file(stations_url)
print('Loaded', len(satellites), 'satellites')

Loaded 30 satellites

https://upload.wikimedia.org/wikipedia/commons/2/24/ISS_diagram.png

In [ ]:
by_name = {sat.name: sat for sat in satellites}
satellite = by_name['ISS (ZARYA)']

print(satellite.epoch.utc_jpl())
print(satellite)

A.D. 2024-Apr-29 16:52:03.1262 UTC
ISS (ZARYA) catalog #25544 epoch 2024-04-29 16:52:03 UTC

Where is the ISS? [NASA Spot the Station](https://spotthestation.nasa.gov/tracking_map.cfm)

In [ ]:
t = ts.now()
geocentric = satellite.at(t)
subpoint = wgs84.subpoint(geocentric)
print(f'Latitude:  {subpoint.latitude.degrees:.2f}')
print(f'Longitude: {subpoint.longitude.degrees:.2f}')
print(f"Elevation {int(subpoint.elevation.km)} (km) {int(subpoint.elevation.km*0.621371)} (mi)")
print(f"https://earth.google.com/web/search/{subpoint.latitude.degrees:.2f},{subpoint.longitude.degrees:.2f}/@47.13588096,47.3759601,-4649.26594136a,12274433.30377579d,35y,0h,0t,0r/data=Ck8aJRIfGY_C9ShcT0dAIR6F61G4nklAKgs0Ni42Miw1MS4yNBgCIAEiJgokCSNpsjq36UZAEVAjwaN0RkJAGZpZdCkAsFnAIbZNPnqeYV_AOgMKATA")

Latitude:  47.88
Longitude: 111.60
Elevation 417 (km) 259 (mi)
https://earth.google.com/web/search/47.88,111.60/@47.13588096,47.3759601,-4649.26594136a,12274433.30377579d,35y,0h,0t,0r/data=Ck8aJRIfGY_C9ShcT0dAIR6F61G4nklAKgs0Ni42Miw1MS4yNBgCIAEiJgokCSNpsjq36UZAEVAjwaN0RkJAGZpZdCkAsFnAIbZNPnqeYV_AOgMKATA

In [ ]:
localtz = pytz.timezone('US/Mountain')
twinfalls_lat=42.58619
twinfalls_lng=-114.4849
print(f"https://earth.google.com/web/search/{twinfalls_lat},{twinfalls_lng}/@{twinfalls_lat},{twinfalls_lng},1118.53612974a,602.64657559d,35y,0h,0t,0r/data=ClcaLRInGQGfH0YIS0VAISV1ApoIn1zAKhM0Mi41ODYxOSwgLTExNC40ODQ5GAIgASImCiQJSFNn4ihMRUARd6Kq1OtJRUAZCPZlHtqdXMAhURrod2ugXMA6AwoBMA")

twinfalls = wgs84.latlon(twinfalls_lat,twinfalls_lng, elevation_m=1100)

https://earth.google.com/web/search/42.58619,-114.4849/@42.58619,-114.4849,1118.53612974a,602.64657559d,35y,0h,0t,0r/data=ClcaLRInGQGfH0YIS0VAISV1ApoIn1zAKhM0Mi41ODYxOSwgLTExNC40ODQ5GAIgASImCiQJSFNn4ihMRUARd6Kq1OtJRUAZCPZlHtqdXMAhURrod2ugXMA6AwoBMA

In [ ]:
difference = satellite - twinfalls
topocentric = difference.at(t)
alt, az, distance = topocentric.altaz()
print(f"alt {alt}, az {az} distance {int(distance.km)} (km) {int(distance.km*0.621371):,} (mi)")

alt -38deg 17' 53.2", az 330deg 41' 17.8" distance 8560 (km) 5,319 (mi)

ISS Passes [Heavens Above](https://www.heavens-above.com/ISS_3D.aspx)

In [ ]:
t0 = ts.utc(2024, 4, 30)
t1 = ts.utc(2024, 5, 4)
t, events = satellite.find_events(twinfalls, t0, t1, altitude_degrees=horizon)
for ti, event in zip(t, events):
    name = ('rise above 10°', 'culminate', 'set below 10°')[event]
    print(ti.utc_strftime('%Y %b %d %H:%M:%S'), name)

2024 Apr 30 07:55:06 rise above 10°
2024 Apr 30 07:57:51 culminate
2024 Apr 30 08:00:37 set below 10°
2024 Apr 30 09:31:11 rise above 10°
2024 Apr 30 09:34:24 culminate
2024 Apr 30 09:37:37 set below 10°
2024 Apr 30 11:09:17 rise above 10°
2024 Apr 30 11:11:41 culminate
2024 Apr 30 11:14:06 set below 10°
2024 Apr 30 12:46:41 rise above 10°
2024 Apr 30 12:49:16 culminate
2024 Apr 30 12:51:49 set below 10°
2024 Apr 30 14:23:06 rise above 10°
2024 Apr 30 14:26:25 culminate
2024 Apr 30 14:29:43 set below 10°
2024 Apr 30 16:00:42 rise above 10°
2024 Apr 30 16:02:46 culminate
2024 Apr 30 16:04:50 set below 10°
2024 May 01 07:07:03 rise above 10°
2024 May 01 07:08:54 culminate
2024 May 01 07:10:46 set below 10°
2024 May 01 08:41:54 rise above 10°
2024 May 01 08:45:13 culminate
2024 May 01 08:48:32 set below 10°
2024 May 01 10:19:43 rise above 10°
2024 May 01 10:22:20 culminate
2024 May 01 10:24:57 set below 10°
2024 May 01 11:57:31 rise above 10°
2024 May 01 11:59:54 culminate
2024 May 01 12:02:16 set below 10°
2024 May 01 13:34:02 rise above 10°
2024 May 01 13:37:13 culminate
2024 May 01 13:40:24 set below 10°
2024 May 01 15:10:57 rise above 10°
2024 May 01 15:13:47 culminate
2024 May 01 15:16:38 set below 10°
2024 May 02 07:52:45 rise above 10°
2024 May 02 07:56:03 culminate
2024 May 02 07:59:21 set below 10°
2024 May 02 09:30:07 rise above 10°
2024 May 02 09:32:58 culminate
2024 May 02 09:35:50 set below 10°
2024 May 02 11:08:11 rise above 10°
2024 May 02 11:10:28 culminate
2024 May 02 11:12:45 set below 10°
2024 May 02 12:44:56 rise above 10°
2024 May 02 12:47:55 culminate
2024 May 02 12:50:54 set below 10°
2024 May 02 14:21:31 rise above 10°
2024 May 02 14:24:43 culminate
2024 May 02 14:27:54 set below 10°
2024 May 03 07:03:49 rise above 10°
2024 May 03 07:06:54 culminate
2024 May 03 07:10:00 set below 10°
2024 May 03 08:40:31 rise above 10°
2024 May 03 08:43:36 culminate
2024 May 03 08:46:41 set below 10°
2024 May 03 10:18:41 rise above 10°
2024 May 03 10:21:00 culminate
2024 May 03 10:23:18 set below 10°
2024 May 03 11:55:47 rise above 10°
2024 May 03 11:58:32 culminate
2024 May 03 12:01:16 set below 10°
2024 May 03 13:32:12 rise above 10°
2024 May 03 13:35:32 culminate
2024 May 03 13:38:50 set below 10°
2024 May 03 15:11:23 rise above 10°
2024 May 03 15:11:41 culminate
2024 May 03 15:12:01 set below 10°

In [ ]:
eph = load('de421.bsp')
sun, earth = eph['sun'], eph['earth']
def sun_pos(t, topopos):
  obs = earth + twinfalls
  astrometric = obs.at(t).observe(sun)
  apparent = obs.at(t).observe(sun).apparent()
  alt, az, dist = apparent.altaz()
  return alt, az, dist

In [ ]:
for ti, event in zip(t, events):
    name = (f'rise above {horizon}°', 'highest point', f'set below {horizon}°')[event]
    sunalt, sunaz, sundist = sun_pos(ti, twinfalls)
    if -12 <= sunalt.degrees <= -6:
      print(ti.utc_jpl(), name)

A.D. 2024-May-01 11:57:31.0322 UTC rise above 10°
A.D. 2024-May-01 11:59:53.7318 UTC highest point
A.D. 2024-May-03 11:55:46.6938 UTC rise above 10°

In [ ]:

t, events = satellite.find_events(twinfalls, t0, t1, altitude_degrees=horizon)
for ti, event in zip(t, events):
    name = (f'rise above {horizon}°', 'highest point', f'set below {horizon}°')[event]
    sunalt, sunaz, sundist = sun_pos(ti, twinfalls)
    if -12 <= sunalt.degrees <= -6:
      print(ti.astimezone(localtz).strftime('%a %b %d %-I:%M:%S %p'), name)
      if event ==2:
        print()
        # plot_sky(passes[1], self.timezoneobj, t, alt, az)

Wed May 01 5:57:31 AM rise above 10°
Wed May 01 5:59:53 AM highest point
Fri May 03 5:55:46 AM rise above 10°